<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="chef.css">
    <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet">
    <title>Add-Chef</title>
</head>
<body>

    <div class="home-0">
        <nav class="navbar navbar-expand-lg navbar-light bg-danger">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="home-1">Eyob's Best chef's list</div>
            <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add">
                        <button type="button" class="btn btn-dark btn-danger">
                            Add new chef
                        </button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/author">
                        <button type="button" class="btn btn-dark btn-danger">
                            About
                        </button>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="add-1">
        <div class="card">
            <div class="card-body">
                <form action="#" th:action="@{/check}" th:object="${newChef}" method="post">
                    Name: <input type="text" th:field="*{chefName}">
                    <span th:if="${#fields.hasErrors('chefName')}"
                          th:errors="*{chefName}">
                </span><br/>

                    Food: <input type="text" th:field="*{foodType}">
                    <span th:if="${#fields.hasErrors('foodType')}"
                          th:errors="*{foodType}">
                </span><br/>

                    Ingredients: <textarea rows="2" type="text" th:field="*{ingredients}"></textarea>
                    <span th:if="${#fields.hasErrors('ingredients')}"
                          th:errors="*{ingredients}">
                </span><br/>
                    <input type="submit" value="Done">
                </form>
            </div>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>